.navbar-default .navbar-nav>li>a {
  background-color: lime;
}

section {
  background-color: #aaa;
  padding: 0 15px 15px;
  margin-top: 20px;
}

section h2 {
  font-size: 1.8em;
  margin-top: 5px;
}